<div class="d-flex gap-2 mx-1 mb-3 justify-content-center">
    
    <button type="button" class="btn btn-success w-100" [routerLink]="['/user/', id]"><i class="bi bi-eye"></i><br>Ver </button>
    <button type="button" class="btn btn-success w-100" [routerLink]="['/home']"><i class="bi bi-arrow-counterclockwise"></i><br>Volver </button>
    <button type="button" class="btn btn-warning w-100"><i class="bi bi-pencil"></i><br>Actualizar</button>
    <button type="button" class="btn btn-danger w-100"><i class="bi bi-trash"></i><br>Borrar</button>
</div>
