<div class="d-flex justify-content-between py-3">
    <button class="btn btn-secondary">Prev</button>
    <button class="btn btn-secondary">Next</button>
</div>
<section class="row">
    <article class="col-12 col-md-6 col-lg-3 sh">
        <app-user-card>PROBNDO</app-user-card>
   </article>
    <article class="col-12 col-md-6 col-lg-3">
        <app-user-card>PROBNDO</app-user-card>
   </article>
    <article class="col-12 col-md-6 col-lg-3">
        <app-user-card>PROBNDO</app-user-card>
   </article>
    <article class="col-12 col-md-6 col-lg-3">
        <app-user-card>PROBNDO</app-user-card>
   </article>
    <article class="col-12 col-md-6 col-lg-3">
        <app-user-card>PROBNDO</app-user-card>
   </article>
    <article class="col-12 col-md-6 col-lg-3">
        <app-user-card>PROBNDO</app-user-card>
   </article>



</section>